.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
    &_login {
        margin-right: 5px;
        width: 129px;
        height: 41px;
        border-color: #fff;
        color: #fff;
    }
    &_register {
        width: 156px;
        height: 41px;
        background-color: #fff;
        color: #000;
        border-style: none;
    }
    &_enter {
        width: 273px;
        height: 66px;
        background-color: $main-color;
        border-style: none;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }
    &_how {
        margin-top: 39px;
        width: 273px;
        height: 66px;
        border-color: #3BA3FF;
        background-color: #fff;
        color: #3ba3ff;
        font-size: 24px;
        font-weight: 400;
    }
    &_list, &_subscribe {
        // margin-top: 43px;
        margin-left: 42px;
        width: 273px;
        height: 66px;
        background-color: $main-color;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        border-style: none;
    }
    // &_subscribe {

    // }
}