.list {
    &__bg {
        position: relative;
        margin: 0 auto;
        // top: -180px;
        // width: 1160px;
        height: 360px;
        background: url(../../img/list/faq-shape.png) no-repeat 90% bottom, url(../../img/list/signup-bg.png) no-repeat center 100%;
    }
    &__title {
        padding-top: 55px;
        padding-left: 42px;
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        color: #fff;
    }
    &__wrapper {
        margin-top: 43px;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    &-descr {
        margin-left: 43px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        span {
            font-weight: 700;
        }

    }
}