.register {
    padding-top: 30px;
    min-width: 100vh;
    min-height: 865px;

    position: relative;
    background: url(../../img/register/wave.png) no-repeat bottom, url(../../img/register/line.png) no-repeat center/100%, linear-gradient(91.25deg, #BF2ED1 0.92%, #985CE4 51.04%, #6E8BF8 99.92%);

    &__menu {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__links{
            display: flex;
            margin-left: 64px;
            width: 584px;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
        &__btn-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &_call {
            display: none;
        }
    }
    &__enter {
        margin-top: 143px;
        width: 685px;
        height: 330px;
        &-descr {
            margin-top: 24px;
            width: 557px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #fff;
        }
        &-wrapper {
            margin-top: 42px;
            display: flex;
            align-items: center;
        }
        &-place {
            margin-left: 13px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            span {
                font-weight: 700;
            }
        }
    }
    &__sticker {
        position: absolute;
        top: 320px;
        left: 865px;
        display: flex;
        width: 129px;
        height: 52px;
        transform: rotate(-15deg);
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        background: #C378F7;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    &__iphone {
        position: absolute;
        // object-fit: fill;
        top: 181px;
        left: 1150px;
        width: 337px;
        height: 684px;
    }
}

.menu__scroll {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        position: relative;
        // left: -100%;
        width: 450px;
        background-color: $main-color;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        transform: all .6s;
        text-transform: uppercase;
        z-index: 10;
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
    }
    &__link {
        position: relative;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;  
        margin-bottom: 15px;
        &:before {
            content: '';
            position: absolute;         
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 1px solid #000;
            transition: all .6s;
        }
        &:hover {
            &:before {
                background-color: #fff;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    &__overlay {
       position: fixed;
       top: 0;
       left: 0; 
       width: 100%;
       height: 100%;
       background-color: #fff;
       opacity: .75;
    }
}